.drowlag{
	margin-left: 35%;
	text-align: center;
}
.chuden{
	color: black;
}
.gachchan{
	text-decoration-line:underline;
}
.chutrang{
	color: #fff;
}
.chuxanhla{
	color: green;
}
.nenden{
	background-color: black;
}
.ngonngu{
	margin-left: 35%;
	text-align: center;
}
.size{
	padding-bottom: 5%;
}
.siff{
  position: fixed;
  bottom: 70%;
  right: 15px;
  z-index: 0;
}
.fontchu{
	font-size: 22px;
	font-family:BlinkMacSystemFont;
}
.fontchitiet{
	font-size: 20px;
	font-family: oblique;
	font-weight: 100;
}
.fontp{
	font-size: 18px;
	font-style: oblique;
}
 
.bordernut{
	border-radius: 8px;
}
.notify{
	margin-top: 6px;
	margin-left: 3%;
}

.center{
	text-align: center;
}

.benphai{
	float: right;
}

.h3info{
	text-align: center;
	font-family: sans-serif;
	color: red;
	text-decoration: underline;
}
.h1info{
	text-align: center;
	font-family: sans-serif;
	color: green;
	text-decoration: underline;
}
.button {
    text-decoration: none;
    display: inline-block;
    -webkit-transition-duration: 0.1s; /* Safari */
    transition-duration: 0.1s;
    cursor: pointer;
}

.botron{
	width: 120px;
	color: #fff;
	border-width:1px;
	border-color: gray;
	border-radius: 8px;
	
}
.botron:hover {
    background-color: #4CAF50;
    color: black;
}
.botron:focus{
    background: #FF6347;
}
/**/
.botron1{
	width: 135px;
	color: #fff;
	border-width:1px;
	border-color: gray;
	border-radius: 8px;
	
}
.botron1:hover {
    background-color: #4CAF50;
    color: black;
}
.botron1:focus{
    background: #FF6347;
}
/**/
.botron2{
	width: 125px;
	color: #fff;
	border-width:1px;
	border-color: gray;
	border-radius: 8px;
	
}
.botron2:hover {
    background-color: #4CAF50;
    color: black;
}
.botron2:focus{
    background: #FF6347;
}
/**/
.botron3{
	width: 153px;
	color: #fff;
	border-width:1px;
	border-color: gray;
	border-radius: 8px;
	
}
.botron3:hover {
    background-color: #4CAF50;
    color: black;
}
.botron3:focus{
    background: #FF6347;
}
.khung{
	background-color: white;
	border-radius: 8px;
	border-color: black;
	border-style: solid;
	border-width:1px;
	padding-left: 10px;
	padding-right: 10px;
}
.khungimage{
	border-width: 1px;
	border-style: solid;
	text-align: center;
	height: 150px;
	width: 150px;
	border-color:gray;
	margin-left: 50px;
	border-radius: 8px;
}
.khungtrang{
	background-color: white;
}
.chudo{
	color: red;
}
.chuxanh{
	color: blue;
}
.chu20{
	font-size: 20px;
}
.imagecourse{
	text-align: center;
	height: 140px;
	width: 140px;
	margin-top: 30px;
	border-width: 1px;
	border-radius: 8px;
	border-style: solid;
	border-color: gray;
}
.scrollmenu {
	position: fixed;
	top: 0;
	left: 0;
	background: #fff;
	box-shadow: inset 1px -1px 14px 0px #ddd;
	z-index: 100;
	width: 100%;
}
* {
padding: 0;
margin: 0;
}
/* hinh dong*/
.w3-spin{
	animation: w3-spin 2s infinite linear;
	}
	@keyframes w3-spin{
	0%{-webkit-transform:rotate(0deg);transform: rotate(0deg)}
	100%{-webkit-transform:rotate(359deg);transform:rotate(359deg)}
}
/*button scroll*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 50px;
  right: 15px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color: gray;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}
/* button tim kiem*/
#myBtn:hover {
  background-color: #555;
}
.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.form-horizontal .form-group {
    margin-left: 0;
    margin-right: 0;
}
.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    #adv-search {
        width: 500px;
        margin: 0 auto;
    }
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}
/*ádasd*/
/* Spinner 1 xoaoay loadind animate */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
